* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #1f1f1f;
  --foreground: #171717;
}

/* Remove spinner arrows across all browsers */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Webkit browsers */
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  border: 1px solid black;
  background-color: rgba(245, 245, 245, 0.875);
  padding: .75em;
  gap: 2em;
}

.navBar > a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.navBar > a:hover {
  opacity: .8;
}

.signoutBtn {
  border: 1px solid black;
  border-radius: .5rem;
  background-color: rgb(245, 245, 245);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .05em;
  padding: .25em .5em;
}

.signoutBtn:hover {
  cursor: pointer;
  opacity: .8;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
