
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 227, 227);
  border: 1px solid blue;
  width: 80%;
}

/* Home Page */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: orange;
  padding: 1em;
}

.attract {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attract > h1 {
  font-size: 3.5rem;
}

.dailyGameCard {
  border: 1px solid green;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 3em;
  padding: 1em;
}

.gameImgContainer {
  width: 45%;
  position: relative;
}

.dailyGameDetails {
  width: 45%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: .25em;
}

.dailyGameDetails > div {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-block: .5em;
  gap: 1.25em;
}

.dailyGameDetails > a {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid black;
  background-color: rgb(241, 213, 213);
  text-align: center;
  margin-top: .5em;
  padding: .5em 0;
}

.dailyGameDetails > h2 {
  font-size: 2rem;
}

.genresContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
  gap: .5em;
}

.dailyGameSummary {
  line-height: 1.25em;
}

.main > a {
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: .5em;
  background-color: rgb(162, 162, 237);
  margin-top: 1em;
  padding: .25em 1em;
}

.main > a:hover {
  opacity: .9;
}

/* BLOG PAGE TEST */

/* .blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: orange;
  padding: 1em;
} */

.postsContainer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2em;
  padding: 2em;
  border: 1px solid red;
  border: 1px solid black;
}

.postImgContainer {
  width: 40%;
}

.postImgContainer > img {
  width: 100%;
}

.postDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.userDetails {
  display: flex;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 1.5em;
  gap: 1em;
}

#deletePostBtn {
  margin-top: 1.5em;
  padding: .25em .5em;
}








.sign-in {
  background-color: red;
}

.sign-up {
  background-color: lightblue;
}

/* SignUp Page */

.signupPage {
  height: 600px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(255, 246, 234);
  padding: 1em;
  gap: 1em;
}

.signupPage > h1 {
  font-size: 2rem;
}

.signupPage > label {
  font-size: 1.5rem;
}

.signupPage > label > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signupPage > label > div > p {
  /* border: 1px solid black; */
  width: 175px;
}

.signupPage > label > div > input {
  font-size: 1.5rem;
}

.signupPage > button {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(72, 212, 72);
  border: 1px solid black;
  padding-block: .25em;
}

.signupPage > button:hover {
  opacity: .8;
  cursor: pointer;
}


































































/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
